[submodule "app/imgui"]
	path = app/imgui
	url = https://github.com/ocornut/imgui
[submodule "app/inateck_sdk"]
	path = app/inateck_sdk
	url = https://github.com/Inateck-Technology-Inc/cpp_sdk
[submodule "app/scanner_lib"]
	path = app/scanner_lib
	url = https://github.com/Inateck-Technology-Inc/scanner_lib.git
